<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <div>
            <div><%= post.title %></div>
            <div><%= post.body %></div>
            <% if (post.author == user) { %>
                <a href="/modifyPost/<%= community %>/<%= post.board_id %>">수정하기</a>
            <% } %>
        </div>
        <a href="/listPost/<%= community %>">뒤로 가기</a>
        <br>
        <form action="/comment/<%= community %>/<%= post.board_id %>" method="POST">
            <div>
                <input type="text" name="comment" placeholder="댓글을 입력하세요.">
            </div>
            <div>
                <input type="submit" value="댓글 남기기">
            </div>
        </form>
        <div id="comments">
            <% if (post.comments != null) { %>
                <div>댓글 보이기</div>
            <% for (var i = 0; i < Object.keys(post.comments).length; i++) { %>   
                <p><%= post.comments[i].text %></p>
                <div>
                    <% for (var j = 0; j < Object.keys(post.comments[i].recomment).length; j++) { %>
                        <p><%= post.comments[i].recomment[j].text %></p>
                    <% } %>
                </div>
                <form action="/recomment/<%= community %>/<%= post.board_id %>/<%= post.comments[i]._id %>" method="POST">
                    <div>
                        <input type="text" name="recomment" placeholder="답글을 입력하세요.">
                    </div>
                    <div><input type="submit" value="답글 남기기"></div>
                </form>
            <% } %>
            <% } %>
        </div>
    </body>
</html>